
.blur-for-marks {
    filter: blur(10px);
}

.z-skypro-proftest-main-wrapper {
    background-color: #eaecef;
    width: calc(100% - 50px);
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 16px;
}

.z-proftest-header__timer {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.z-skypro-proftest-wrapper__header {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 22px */
    padding-top: 20px;
}

.z-skypro-proftest-wrapper__subtitle {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    padding-top: 18px;
}

.z-skypro-proftest-wrapper__gift {
    background-color: white;
    width: 100%;
    color: #424554;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
}

.questionIndex {
    padding-top: 15px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

.z-skypro-proftest__question {
    padding-top: 6px;
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.z-skypro-proftest__answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.z-skypro-proftest__answer {
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.z-skypro-proftest__answer-checkbox {
    width: 1em;
    height: 1em;
    border: 1px solid rgba(25, 48, 146, 0.30);
    aspect-ratio: 1 / 1;
    background-color: white;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.z-skypro-proftest__button {
    cursor: pointer;
}

.z-skypro-proftest__answer--selected .z-skypro-proftest__answer-checkbox::after {
    content: " ";
    margin: auto;
    background-color: #193092;
    height: 77%;
    width: 75%;
    aspect-ratio: 1 / 1;
    position: absolute;
} 

.z-skypro-proftest__button {
    margin-top: 20px;
    padding: 6px 8px 6px 8px;
    border: none;
    background: #193092;
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}

@media screen and (min-width: 1260px) {
    .z-skypro-proftest-main-wrapper {
        padding: 50px;
        width: 1200px;
        margin-top: 60px;
    }

    .z-proftest-header__timer {
        font-size: 22px;
        padding: 20px;
        height: 60px;
    }

    .z-skypro-proftest-wrapper__header {
        font-size: 38px;
        padding-top: 40px;
    }

    .z-skypro-proftest-wrapper__subtitle {
        font-size: 24px;
        padding-top: 20px;
    }

    .z-skypro-proftest-wrapper__gift {
        font-size: 18px;
        margin-top: 20px;
        width: 50%;
    }

    .questionIndex {
        font-size: 22px;
        padding-top: 40px;
    }

    .z-skypro-proftest__question {
        font-size: 32px;
        padding-top: 10px;
    }

    .z-skypro-proftest__answers {
        margin-top: 30px;
    }

    .z-skypro-proftest__answer {
        font-size: 20px;
    }

    .z-skypro-proftest__answer--selected .z-skypro-proftest__answer-checkbox::after {
        height: 70%;
        width: 70%;
    } 

    .z-skypro-proftest__button {
        font-size: 18px;
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}

@keyframes pulse-opacity-light {
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    75% {
        opacity: 1;
    }
}

.rightHide {
    position: absolute;
    height: 0;
    width: 0;
    top: -9000px;
    left: -9000px;
    opacity: 0;
}

.proftest-telegramLinkWithUUID:hover {
    cursor: pointer;
}