:root {
  font-family: 'Montserrat', 'StratosSkyeng', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue: #2A3179;
  background-color: #2e3d96;
}

body {
  margin: 0;
}

.skypro-startLuigi:hover {
  cursor: pointer;
}